*.obj
*.suo
*.bak
*.rar
*.zip
*.tar
*.gz
*.log
*.pdb
*.pdf
*.exe.config
*.vshost.exe
*.ccexclude
*.csproj.user
*.lastcodeanalysissucceeded
**/obj/
**/Debug/
**/Debug_SeeedStudio
**/bin/Release/
**/bin/x86/
**/Release/*.xml
**/Full_release_SeeedStudio/*.xml
**/.vs
**/Express/SingleImage/LogFiles
**/Express/SingleImage/Reports
**/Express/Interm
**/ISSetupPrerequisites/
SharpGL.SceneGraph.xml
thumbs.db
/RFExplorerClient/RFEWaterfallGL/Dependencies
ZedGraph.XML
/Test/RFExplorerTestBoard_WSUBxG/readmeZedGraph.txt
/RFExplorerClient/UpgradeLog.htm
/RFExplorerClient/RFEClientControls/bin/x86/Release/RFEClientControls.dll
/RFExplorerClient/RFEClientControls/bin/x86/Release/RFExplorerCommunicator.dll
/RFExplorerClient/ZedGraphRFE/bin/x86/Release/ZedGraph.dll
/RFExplorerClient/SharpGLRFE/Core/SharpGL/bin/x86/Release/SharpGL.dll
/RFExplorerClient/SharpGLRFE/Core/SharpGL.SceneGraph/bin/x86/Release/SharpGL.dll
/RFExplorerClient/SharpGLRFE/Core/SharpGL.SceneGraph/bin/x86/Release/SharpGL.SceneGraph.dll
/RFExplorerClient/SharpGLRFE/Core/SharpGL.WinForms/bin/x86/Release/SharpGL.dll
/RFExplorerClient/SharpGLRFE/Core/SharpGL.WinForms/bin/x86/Release/SharpGL.SceneGraph.dll
/RFExplorerClient/SharpGLRFE/Core/SharpGL.WinForms/bin/x86/Release/SharpGL.WinForms.dll
/RFExplorerCommunicator/bin/x86/Release/RFExplorerCommunicator.dll
