<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RFExplorerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <RFExplorerClient.Properties.Settings>
            <setting name="COMPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="COMSpeed" serializeAs="String">
                <value>500000</value>
            </setting>
            <setting name="SaveOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TopAmp" serializeAs="String">
                <value>-60</value>
            </setting>
            <setting name="BottomAmp" serializeAs="String">
                <value>-120</value>
            </setting>
            <setting name="StartFreq" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="StepFreq" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="Calculator" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ViewMax" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewMin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewRT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewAvg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenZoom" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ViewPeaks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomCommands" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;enter custom commands here&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowControlArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLCDOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CSVDelimiter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContinuousLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRFConnections" serializeAs="String">
                <value>True</value>
            </setting>
        </RFExplorerClient.Properties.Settings>
    </userSettings>
</configuration>
