<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="RFExplorerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <RFExplorerClient.Properties.Settings>
            <setting name="COMPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="COMSpeed" serializeAs="String">
                <value>500000</value>
            </setting>
            <setting name="SaveOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TopAmp" serializeAs="String">
                <value>-60</value>
            </setting>
            <setting name="BottomAmp" serializeAs="String">
                <value>-110</value>
            </setting>
            <setting name="StartFreq" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="StepFreq" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="Calculator" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ViewMax" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewMin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewRT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewAvg" serializeAs="String">
                <value>True</value>
            </setting>
        </RFExplorerClient.Properties.Settings>
    </userSettings>
</configuration>
